# Exercise -> String

In [1]:
############### (1) ###############

python = 'Python '
python +=  str(4) + ' Data ' + 'Science'
python

'Python 4 Data Science'

In [2]:
############### (2) ###############
course = 'Python 4 Data Science'

In [3]:
############### (3) ###############

print(course)
print(len(course))

Python 4 Data Science
21

In [4]:
############### (4) ###############

company = course.upper()
print('Upper:',company)
company = course.lower()
print('Lower:',company)

Upper: PYTHON 4 DATA SCIENCE
Lower: python 4 data science

In [5]:
############### (5) ###############

print(course.capitalize())
print(course.title())
print(course.swapcase())

Python 4 data science
Python 4 Data Science
pYTHON 4 dATA sCIENCE

In [6]:
############### (6) ###############

word = course.split(' ')[0]
word

'Python'

In [7]:
############### (7) ###############

print('Contains the word Python:',course.index('Python'))
print('Contains the word Python:',course.find('Python'))
print('Contains the word Python:',course.__contains__('Python'))

Contains the word Python: 0
Contains the word Python: 0
Contains the word Python: True

In [8]:
############### (8) ###############

rep_word = course.replace('Data Science','Everybody')
rep_word

'Python 4 Everybody'

In [9]:
############### (9) ###############

ls_str = course.split(' ')
ls_str

['Python', '4', 'Data', 'Science']

In [10]:
############### (10) ###############

string = 'Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon'

print(string.split(','))

['Google', ' Facebook', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

### 11) The Letter D is the 9th character

### 12) The second last index of the string is the letter c

In [11]:
############### (13) ###############

splt = course.split(' ')
word = ''
for item in splt:
    word +=item[0]

word

'P4DS'

In [12]:
############### (14) ###############

print('The first occurence of D:', course.index('D'))

The first occurence of D: 9

In [13]:
############### (15) ###############

print('The last occurence of e:', course.rfind('e'))

The last occurence of e: 20

In [14]:
############### (16) ###############

sent = 'We cannot end the sentence with ‘because’, because ‘because’ is a conjunction.'
print('The first occurence of (because) in the sentence is:',sent.find('because'))

The first occurence of (because) in the sentence is: 33

In [15]:
############### (17) ###############

print('The last occurence of (because) in the sentence is:',sent.rindex('because'))
print('The first occurence of (because) in the sentence is:',sent.index('because'))

The last occurence of (because) in the sentence is: 52
The first occurence of (because) in the sentence is: 33

In [16]:
############### (18) ###############

start = sent.find('‘because’')
end = sent.rfind('‘because’')
sliced = sent[start:end + len('‘because’')]
print(sliced)

‘because’, because ‘because’

In [17]:
############### (19) ###############

print('Does The String start with (Python):',course.startswith('Python'))

Does The String start with (Python): True

In [18]:
############### (20) ###############

print('Does the string contain the word (Python):',course.__contains__('Python'))

Does the string contain the word (Python): True

In [19]:
############### (21) ###############
spaces = '  Python 4 Datascience  '
print('Stripped string:',spaces.strip())

Stripped string: Python 4 Datascience

In [20]:
############### (22) ###############

lst = ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']

joined = ' # '.join(lst)
joined

'Django # Flask # Bottle # Pyramid # Falcon'

In [21]:
############### (23) ###############

print('Python_Datatypes_2021'.isidentifier())

True

In [22]:
############### (24) ###############

a = int(input('enter the first number: '))
b = int(input('Enter the second number: '))

print(f'{a} + {b} = {a+b}')
print(f'{a} - {b} = {a-b}')
print(f'{a} * {b} = {a*b}')
print(f'{a} / {b} = {a/b}')
print(f'{a} % {b} = {a%b}')
print(f'{a} // {b} = {a//+b}')
print(f'{a} ** {b} = {a**b}')

10 + 5 = 15
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0
10 % 5 = 0
10 // 5 = 2
10 ** 5 = 100000

In [23]:
############### (25) ###############
print('Name\tAge\tCountry\tCity\nMilean\t96\tFinland\tTempere')

Name	Age	Country	City
Milean	96	Finland	Tempere

# Excercises -> if & elif & else

In [24]:
############### (1) ###############

age = int(input('Enter your age: '))
if(age >= 18):
    print('You are old enough to drive')
else:
    print(f'wait for {18-age} years to learn to drive')

You are old enough to drive

In [25]:
############### (2) ###############

my_age = int(input('Enter 1st Age: '))
your_age = int(input('Enter 2nd Age: '))

if(my_age > your_age):
    print(f'I\'m {my_age-your_age} years older than you.')
elif(my_age < your_age):
    print(f'You are {your_age - my_age} years older than me')
else:
    print('We Have the same age')

I'm 29 years older than you.

In [26]:
############### (3) ###############

num1 = int(input('Enter 1st number: '))
num2 = int(input('Enter 2nd number: '))

if(num1 > num2):
    print(f'{num1} is greater than {num2}')
elif(num1 < num2):
    print(f'{num1} is less than {num2}')
else:
    print(f'{num1} is equal to {num2}')

100 is greater than 99

In [27]:
############### (4) ###############

grade = int(input('Please, enter your grade'))
gpa =''
if(grade >= 80):
    gpa = 'A'
elif(grade >= 70):
    gpa = 'B'
elif(grade >= 60):
    gpa = 'C'
elif(grade >= 50):
    gpa = 'D'
else:
    gpa = 'F'
print(f'Your GPA is: {gpa}')

Your GPA is: B

In [28]:
############### (5) ###############

from enum import Enum

class Season(Enum):
    NO = 0
    SUMMER = 1,
    WINTER = 2,
    AUTUMN = 3,
    SPRING = 4

season = Season.NO
months = ['January','February','March','April','May','June','July','August','September','Ocotber','November','December']

string = input('Please, enter the current month: ').capitalize()

if(string == months[11] or string == months[0] or string == months[1]):
    season = Season.WINTER
elif(string == months[2] or string == months[3] or string == months[4]):
    season = Season.SPRING
elif(string == months[5] or string == months[6] or string == months[7]):
    season = Season.SUMMER
else:
    season = Season.AUTUMN

print(f'The Current season is: {season.name}')

The Current season is: SPRING

In [29]:
############### (6) ###############

lst = ['Apple','Orange','Banana']

fruit = input('Please, enter the name of the fruit: ').capitalize()

if(fruit in lst):
    print('The fruit already exists in the list.')
else:
    lst.append(fruit)
    print(f'The New List: {lst}')

The New List: ['Apple', 'Orange', 'Banana', 'Tomatoe']

In [30]:
############### (7) ###############

person = {
    'first_name': 'Baraa',
    'last_name': 'Sallout',
    'age': 25,
    'country': 'Gaza-Palstine',
    'is_married': False,
    'skills': ['Python', 'Matlab', 'R', 'C', 'C++'],
    'address': {
        'street': 'Makka street',
        'zipcode': '00000'
    }
}

if 'skills' in person:
    skills = person['skills']
    middle_skill = skills[len(skills) // 2]
    print("Middle skill:", middle_skill)

    has_python = 'Python' in skills
    print("Has Python skill:", has_python)

    if set(skills) == {'Python', 'Matlab'}:
        print("He knows machine learning")
    elif 'Python' in skills and 'R' in skills:
        print("He knows statistics")
    elif 'C' in skills and 'C++' in skills:
        print("He knows software development")
    else:
        print("Unknown title")

if person['is_married'] and 'Gaza' in person['country']:
    print(f"{person['first_name']} {person['last_name']} lives in Gaza. He is married.")

Middle skill: R
Has Python skill: True
He knows statistics

In [31]:
############### (8) ###############

my_age = 25
your_age = int(input("Enter your age: "))

if your_age > my_age:
    diff = your_age - my_age
    print(f"You are {diff} {'year' if diff == 1 else 'years'} older than me.")
elif your_age < my_age:
    diff = my_age - your_age
    print(f"I am {diff} {'year' if diff == 1 else 'years'} older than you.")
else:
    print("We are the same age!")

I am 4 years older than you.

In [32]:
############### (9) ###############

number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

In [33]:
############### (10) ###############

year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f"{year} is a leap year.")
        else:
            print(f"{year} is not a leap year.")
    else:
        print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2000 is a leap year.

# Excersises -> List

In [34]:
############### (1) ###############

my_list = [42, 'hello', 3.14, True, None, [1, 2, 3]]
my_list

[42, 'hello', 3.14, True, None, [1, 2, 3]]

In [35]:
############### (2) ###############

print(len(my_list))

6

In [36]:
############### (3) ###############

print(f'First: {my_list[0]}')       
print(f'Middle: {my_list[len(my_list) // 2]}')  
print(f'Last: {my_list[-1]}')

First: 42
Middle: True
Last: [1, 2, 3]

In [37]:
############### (4) ###############

my_info = ['John', 30, 5.9, 'Single', 'USA']
my_info

['John', 30, 5.9, 'Single', 'USA']

In [38]:
############### (5) ###############

mix_fruits = ['Guava', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']
print(mix_fruits)

['Guava', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']

In [39]:
############### (6) ###############


print(mix_fruits)

['Guava', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']

In [40]:
############### (7) ###############

print(len(mix_fruits))

7

In [41]:
############### (8) ###############

print(f'First: {mix_fruits[0]}')
print(f'Middle: {mix_fruits[len(mix_fruits)//2]}')
print(f'Last{mix_fruits[-1]}')

First: Guava
Middle: Pear
LastBanana

In [42]:
############### (9) ###############

mix_fruits[0] = 'Pineapple'
print(mix_fruits)

['Pineapple', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']

In [43]:
############### (10) ###############

mix_fruits.append('Strawberry')
print(mix_fruits)

['Pineapple', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana', 'Strawberry']

In [44]:
############### (11) ###############

mix_fruits.insert(len(mix_fruits) // 2, 'Papaya')
print(mix_fruits)

['Pineapple', 'Mango', 'Apple', 'Pear', 'Papaya', 'Fig', 'Orange', 'Banana', 'Strawberry']

In [45]:
############### (12) ###############


mix_fruits[1] = mix_fruits[1].upper()
print(mix_fruits)

['Pineapple', 'MANGO', 'Apple', 'Pear', 'Papaya', 'Fig', 'Orange', 'Banana', 'Strawberry']

In [46]:
############### (13) ###############

joined_fruits = '-#-'.join(mix_fruits)
print(joined_fruits)

Pineapple-#-MANGO-#-Apple-#-Pear-#-Papaya-#-Fig-#-Orange-#-Banana-#-Strawberry

In [47]:
############### (14) ###############

print('Mango' in mix_fruits)

False

In [48]:
############### (15) ###############

mix_fruits.sort()
print(mix_fruits)

['Apple', 'Banana', 'Fig', 'MANGO', 'Orange', 'Papaya', 'Pear', 'Pineapple', 'Strawberry']

In [49]:
############### (16) ###############

mix_fruits.reverse()
print(mix_fruits)

['Strawberry', 'Pineapple', 'Pear', 'Papaya', 'Orange', 'MANGO', 'Fig', 'Banana', 'Apple']

In [50]:
############### (17) ###############

print(mix_fruits[:3])

['Strawberry', 'Pineapple', 'Pear']

In [51]:
############### (18) ###############

print(mix_fruits[-3:])

['Fig', 'Banana', 'Apple']

In [52]:
############### (19) ###############

middle = len(mix_fruits) // 2
print(mix_fruits[middle] if len(mix_fruits) % 2 != 0 else mix_fruits[middle - 1: middle + 1])

Orange

In [53]:
############### (20) ###############

mix_fruits.pop(0)
print(mix_fruits)

['Pineapple', 'Pear', 'Papaya', 'Orange', 'MANGO', 'Fig', 'Banana', 'Apple']

In [54]:
############### (21) ###############

middle = len(mix_fruits) // 2
mix_fruits.pop(middle)
print(mix_fruits)

['Pineapple', 'Pear', 'Papaya', 'Orange', 'Fig', 'Banana', 'Apple']

In [55]:
############### (22) ###############

mix_fruits.pop()
print(mix_fruits)

['Pineapple', 'Pear', 'Papaya', 'Orange', 'Fig', 'Banana']

In [56]:
############### (23) ###############

mix_fruits.clear()
print(mix_fruits)

[]

In [57]:
############### (24) ###############

del mix_fruits

In [58]:
############### (25) ###############

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [59]:
############### (26) ###############

full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Python') + 1, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# List Excersises -> Level 2

In [60]:
############### (1) ###############

ages = [19, 23, 19, 25, 21, 20, 25, 26, 25, 24]

ages.sort()
print("Min age:", ages[0], "Max age:", ages[-1])

ages.append(ages[0])
ages.append(ages[-1])

median = (ages[len(ages)//2] + ages[(len(ages)-1)//2]) / 2
print("Median:", median)

average = sum(ages) / len(ages)
print("Average age:", average)

age_range = ages[-1] - ages[0]
print("Age range:", age_range)

print("Difference:", abs(ages[0] - average), abs(ages[-1] - average))

Min age: 19 Max age: 26
Median: 24.5
Average age: 22.083333333333332
Age range: 0
Difference: 3.083333333333332 3.083333333333332

In [61]:
############### (2) ###############

countries = ['India', 'Russia', 'China', 'Finland', 'Sweden', 'Norway', 'Denmark']
middle = len(countries) // 2
print(countries[middle] if len(countries) % 2 != 0 else countries[middle - 1: middle + 1])

Finland

In [62]:
############### (3) ###############

first_half = countries[:len(countries)//2 + len(countries) % 2]
second_half = countries[len(countries)//2 + len(countries) % 2:]
print(first_half, second_half)

['India', 'Russia', 'China', 'Finland'] ['Sweden', 'Norway', 'Denmark']

In [63]:
############### (4) ###############
first, second, third, *scandic = ['India', 'Russia', 'China', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(first, second, third, scandic)

India Russia China ['Finland', 'Sweden', 'Norway', 'Denmark']

### Tuple Excersises

In [64]:
############### (1) ###############

fruits = ('Apple', 'Banana', 'Mango')
vegetables = ('Carrot', 'Broccoli', 'Spinach')

In [65]:
############### (2) ###############

fruits_vegetables = fruits + vegetables
print(fruits_vegetables)

('Apple', 'Banana', 'Mango', 'Carrot', 'Broccoli', 'Spinach')

In [66]:
############### (3) ###############

print(len(fruits_vegetables))

6

In [67]:
############### (4) ###############

food_tuple = fruits_vegetables + ('Mushroom', 'Coffee')
print(food_tuple)

('Apple', 'Banana', 'Mango', 'Carrot', 'Broccoli', 'Spinach', 'Mushroom', 'Coffee')

###  Excersise -> Level 1

In [68]:
############### (1) ###############

union_set = A.union(B)
print(union_set)

NameError: name 'A' is not defined

In [ ]:
############### (2) ###############

union_set = A.union(B)
print(union_set)

In [ ]:
############### (3) ###############

print(A.issubset(B))

In [ ]:
############### (4) ###############

print(A.isdisjoint(B))

In [ ]:
############### (5) ###############

A.update(B)
print(A)  # A now includes elements from B

B.update(A)
print(B)  # B now includes elements from A

In [ ]:
############### (6) ###############

symmetric_diff = A.symmetric_difference(B)
print(symmetric_diff)

In [ ]:
############### (7) ###############

del A
del B

### Excersise -> Level 3

In [ ]:
############### (1) ###############

num_set = set(num)
print(len(num), len(num_set))
if len(num) > len(num_set):
    print("List is bigger.")
else:
    print("Set is bigger.")

In [ ]:
############### (2) ###############

String: immutable, indexed
List: Immutable, Ordered, indexed, allows duplicates 
Set: Sorted, Mutable, unordered, doesn't allow duplicates
Tuple: Immutable, allows duplicates, indexed

In [ ]:
############### (3) ###############

sentence = "I am a researcher cum teacher and I love to inspire and teach people."
unique_words = set(sentence.split())
print(len(unique_words), unique_words)

# Excersise -> Loops

In [ ]:
############### (1) ###############

for i in range(0,11):
    print(i)

print('-----------------------')

i = 0
while i <=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
-----------------------
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
############### (2) ###############

for i in range(10,-1,-1):
    print(i)
print('==========================')
i = 10
while i >=0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0
==========================
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
############### (3) ###############

rows = int(input('Please, enter the number of rows: '))
columns = int(input('Now, enter the number of columns: '))
for i in range(0,rows):
    print('# ' * columns)

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
############### (4) ###############

rows = int(input('Please, enter the number of rows: '))

for i in range(1,(rows+1)):
    hash ='#' * ((i*2)-1)
    space = ' ' * (rows-i+1)
    print(space+hash)

       #
      ###
     #####
    #######
   #########
  ###########
 #############

In [ ]:
############### (5) ###############

num = 0

while num <=10:
    print(f'{num} x {num} = {num**2}')
    num+=1

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [ ]:
############### (6) ###############

libs = ['Python','Numpy','Pandas','Scikit','Pytorch']
for i in libs:
    print(f'{i}')

Python
Numpy
Pandas
Scikit
Pytorch

In [ ]:
############### (7) ###############

for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
############### (8) ###############

for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Excersise -> Level 2

In [ ]:
############### (1) ###############

sum = 0
for i in range(0,101):
    sum+=i
print(f'sum of all numbers is {sum}')

sum of all numbers is 5050

In [ ]:
############### (2) ###############

even = 0
odd = 0
for i in range(0,101):
    if(i%2 == 0):
        even+=i
    else:
        odd+=i
print(f'sum of even is {even}, sum of odd is {odd}')

sum of even is 2550, sum of odd is 2500

### Excersise -> Level 3

In [ ]:
############### (1) ###############

with open('countries.py','r') as file:
    for country in file:
        if('land' in country):
            print(country)

  'Finland',

  'Iceland',

  'Ireland',

  'Marshall Islands',

  'Netherlands',

  'New Zealand',

  'Poland',

  'Solomon Islands',

  'Swaziland',

  'Switzerland',

  'Thailand',

In [ ]:
############### (2) ###############

fruits = ['banana', 'orange', 'mango', 'lemon']

print(fruits[::-1])

['lemon', 'mango', 'orange', 'banana']

In [ ]:
############### (3)[1] ###############

from countries_details_dat import countries_data as cd

langs_set = set()
for country in cd:
    for lang in country['languages']:
        langs_set.add(lang)
length = len(langs_set)

print('The total number of languages:',length)

The total number of languages: 112

Question 3 -> [2] I Don't know the answer

Question 3 -> [3] I Don't know the answer

### Excersise -> while

In [ ]:
############### (1) ###############

word = 'Aaila99godfod'
i = 0
p = ''
while(not word[i].isdigit()):
    p+=word[i]
    i+=1
print(p)

Aaila

In [ ]:
############### (2) ###############

i = 0
while(i <len(word)):
    if(not word[i].isalpha()):
        i+=1
        continue
    print(word[i])
    i+=1

A
a
i
l
a
g
o
d
f
o
d

In [ ]:
num = int(input('Please, enter a number: '))
i = 1
lst = []
while(i < num): 
    lst.append(i)
    i+=2

print(lst)

[1, 3, 5, 7, 9]